name: Python CI
on:
 push:
   branches:
     - main
 pull_request:
   branches:
     - main
jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     # 检出代码
     - name: Checkout code
       uses: actions/checkout@v4
     # 设置 Python 环境
     - name: Set up Python
       uses: actions/setup-python@v5
       with:
         python-version: '3.9'
     # 安装依赖
     - name: Install dependencies
       run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt
     # 运行测试
     - name: Run
       run: python main.py
